@import 
url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,200&family=Playfair+Display:ital,wght@0,400;0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Mulish:ital,wght@1,200&family=Playfair+Display:ital,wght@0,400;0,700;1,600&display=swap');
@font-face {
    font-family:"PlayfairDisplay-Bold";
    src: url("шрифт/PlayfairDisplay-Bold.woff") format(woff), 
         url("шрифт/PlayfairDisplay-Bold.woff2") format(woff2);
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    color: rgb(14, 12, 12)
}

html body {
    padding:0;
    margin: 0;
}

.nav ul {
    margin: 0;
}

.nav li{
    display: inline;
}
.nav a{
    display: inline;
    padding: 0 .1em;
    color: white;
    text-decoration: none;
}
.main-nav{
    text-align: center;
    font-size: 1.5em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(252, 245, 245, 0.4);
}
.main-nav li{
    padding:0 5%;
}
.nav a:hover{
    background-color: rgba(236, 46, 46, 0.4);
}

.main-header {
    background-color: rgba(0,0,0,.4);
    background-image: url("images/back ground.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 40px;
  }
.name {
    text-align: center;
    color: white;
    font-family:'PlayfairDisplay-Bold';
    font-size: 4em;
    margin:0;
    font-weight: normal;
}
.name-large {
    font-size: 6em;
}
.content-section {
    margin: 1.5em;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header {
    font-family: 'Comfortaa', cursive;
    font-weight: normal;
    text-align: center;
    color:rgba(236, 46, 46, 0.4);
    font-size: 2.5em;
}
.about-epee-img {
    height: 300px;
    width: 300px;
    float: left;
    margin: 15px;
    border-radius: 20%;

}
.kinds-fencing li {
display: block;
margin: 1em;
;
}

.fencing-commands-img {
    height: 600px;
    width: 600px;
    float: left;
    margin: 15px;
}
.benefit li {
display: block;
margin: 1em;
}
.main-footer {
    background-color: rgba(236, 46, 46, 0.4);
    padding: .2em 0;
}
.main-footer-container {
    display: flex;
    align-items: center;
}
.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}
.footer-nav {
    padding: 0 .5em;
}
.footer-nav img {
    width: 15px;
    height: 15px;  
}
.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
}
.btn-header {
    margin: 0 auto;
    color:rgb(253, 253, 253);
    border: 2px solid rgb(196, 101, 101);
    background-color: rgba(0,0,0,.3);
    border-radius: 0;
    font-size: 1em;
    font-weight: bold;
    padding-left: 2em 2em;
    display: block;
    border-radius: 6%;
}

.btn-header2{
margin-top: 1em;
}
.btn-header:hover {
    background-color: rgba(236, 46, 46, 0.4);
}
.btn:hover {
    background-color: rgba(236, 46, 46, 0.4);
}
.table {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
    }
.table:last-child{
   border-bottom: none;
}
.table-item {
    display: inline-block;
    padding-right: .5em;
    
}
.days {
    color: black;
    font-weight: bold;
    width: 35%;
}
.time1 {
    width: 35%;
}
.time2 {
    width: 10%;
}
.btn-table {
    max-width: 20%;
}
.btn-call {
    color:white;
    background-color: rgba(236, 46, 46, 0.4);
    font-weight: bold;
    border: none;
    border-radius: .3em;
}
.btn-call:hover {
    background-color: rgba(236, 46, 46, 1);
}